* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #040714;
}

ul {
  text-align: left;
}

li {
  font-size: 1rem;
  margin: 0 0 1rem;
}

@media screen and (min-width: 768px) {
  li {
    font-size: 1.25rem;
  }
}
